@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

.ant-form-item {
  margin-bottom: 10px!important;
}

.ant-modal-root .ant-modal-wrap{
  /* background: #f5f9fd; */
  /* opacity: .8; */
}

.ant-modal .ant-modal-content{
  background:#ffffff ;
  width:100%;
  
}

.ant-modal .ant-modal-title{
  }

  .ant-modal-footer{
  }
  .ant-modal-footer button:nth-child(1){
    background: rgb(106, 106, 106);
    color:white;
    border:none;
  }
  .ant-modal-footer button:nth-child(1):hover{
    background: rgb(128, 128, 128);
    color:white;
    border:none;

  }
  .ant-modal-footer button:nth-child(2){
    background: rgb(241, 43, 66);
    color:white;
  }



  /* .ant-modal-footer */

  /* const timeComponents = totalBreaksTime?.split(":");
  // Extract the minutes from the time components
  let minutes = timeComponents?.[1];
  let seconds = timeComponents?.[2]
  // Add a leading zero if necessary
  if (minutes?.length < 2) {
    minutes = "0" + minutes;
  }
  if (seconds?.length < 2) {
    seconds? = "0" + seconds?;
  } */
  